:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./images/img5.jpg");
  background-size: cover;

  @media (min-width:900px) {
    background-image: url("./images/img7.jpg");

  }
}